.mesaj-c{
    background:var(--light-beige);
    margin-left:var(--padding-intern);
    min-height:5rem;
}
.mesaj-c h3{
    background:var(--light-blue);
    padding-left:1rem;
}
.mesaj-c p{
    padding-left:1rem;
}

main{
    padding: 0.5rem;;
}

.mesaj-c time{
    font-style: italic;
}