
  
#grad{
  
    height: 200px;
    background-color: rgb(142, 236, 142); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(229, 246, 225), rgb(31, 42, 38));
    
  }

  input[type=checkbox] {
    visibility: hidden;
  }
main{
    --padd-main:1rem;
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
}
.produs{
    background-color: rgba(255, 253, 253, 0.75);
}
.nume{
    text-align: center;
    justify-content: center;
}
.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
.grid-produse .produs{
    border-radius: 2rem;
    box-shadow: 0px 0px 0.8rem 0.3rem grey;
    border: solid 1px;
    border-color:rgb(0, 0, 0);
    overflow: hidden;
}

.grid-produse .produs h3{
    background-color: var(--culoare-roz-inchis);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a{
    color:black;
}
.grid-produse .produs h3 a:hover{
    color:white;
}
.grid-produse .produs figure{
    text-align: center;
}
.grid-produse .produs figure img{
    border:1px solid grey
}
.grid-produse .produs .info-prod{
    display:flex;
    background-color: var(--cl-marcare);
}
.col {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .info-prod{
      display: flex;
      flex-direction: column;
  }
  
.grid-produse .produs .info-prod p{
    width:30%;
    text-align:center;
    font-weight:bold;
}

.grid-produse .produs p.categorie{

    text-align:center;
    font-weight:bold;
}

.info-produse{
    background-color: var(--cl-marcare);
    padding:0.2rem;
    box-shadow: 0px 0px 0.5rem 0.15rem grey;
}

.coloane{
    display: flex; 
    position: relative;
}
.selecteaza-cos{
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.75);
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.selecteaza-cos:hover{
    background-color: rgb(0, 0, 0, 0.5);
    
    border:1px solid  rgb(81, 222, 145);
}

input[type="checkbox" ]:checked{
    
}