<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Despre cosmetivce">
        <meta name="keywords" content="ten, crema">
        <title>Despre magazin</title>
        <%- include("../fragmente/head.ejs");  %> 

        

        
        


    </head>
    <body id="grad">
        
        <%- include("../fragmente/header.ejs");  %> 
    

    <main>
       Eroare 403- N ai voie!!!
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>