<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Eroare</title>
		<%- include("../fragmente/head") %>
	</head>
	<body  id="grad">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
			<article class="container">
			
			<h1>Te-ai inregistrat cu succes!</h1>
			<p>Acceseaza link-ul primit in mail-ul primit de la adresa magazincosmetice123@gmail.com</p>
		</article>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>