<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <link rel="stylesheet" href="/Resurse/css/cos-virtual.css" type="text/css" />
        <title>cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/Resurse/js/cos_virtual.js"></script>
    </head>
    <body id="grad">
    <%- include("../fragmente/header") %>

    <main>
       
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>