<!DOCTYPE html>
<html lang="en">
	<head>
        <meta name="description" content="Stergere utilizator">
        <meta name="keywords" content="cosmetice, sterge, cont">
        <link rel="stylesheet" href="/resurse/css/useri.css" type="text/css" />
        <title>Stergere utilizator</title>
        <%- include("../fragmente/head") %>     
    </head>
	<body>
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
            <h2>Stergeti contul</h2>
            Introduceti numele de utilizator si parola!<br>
            <form id="sterge" method="post" action="/sterg">
                <p>
                    <label>
                        Nume de utilizator: <input type="text" name="username" value="<%- locals.utilizator.username %>" readonly>
                    </label>
                </p>
                <p>
                    <label>
                        Parola: <input id="parl" type="password" required  name="parola" value="">
                    </label>
                </p>
                <input type="submit" value="Delete account">
            </form>
		</main>		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>