<footer> 
    <a href="#" id="link-top">
        <div id="triunghi" class="tooltip"> 
            <span class="tooltiptext">Back to top</span>
        </div>
         </a> 
    <br>

    <br>
    <address>
        <b><h2>Contact</h2></b>
        <span class="fa-solid fa-phone fa-shake"></span><a href="tel:+40534675465" id="contact">  40745871098</a><br>
        <span class="fa-solid fa-envelope"></span><a href="mailto:iulitaalpetri66@gmail.com"> iulitaalpetri66@gmail.com</a><br>
        <span class="fa-brands fa-whatsapp"></span><a href="https://wa.me/+40731846255">Whatsapp</a><br>
        <span class="fa-solid fa-location-dot fa-flip"></span><a href=https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83+-+Universitatea+din+Bucure%C8%99ti/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867" target="_blank">  Strada Academiei 14, București</a><br>
    </address>
   
    <a href="skype:cid.291d1233033d027d?chat">Start Chat</a>
    <br>
    <p><small>© Copyright, CompaniaX</small></p>
    <br>
    <time datetime="2022-02-24">24 februarie 2022</time>
    <div id="banner">
    <p>Acesta este un proiect scolar. Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></p></div>>

</footer>